<h2 class="center">Sign up</h2>

<div class="row span6 offset3" id="register">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <span id="strength"></span><br />

  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :center_id, "Center" %>
  <%= collection_select :user, :center_id, Center.all, :id, :name %><br />

  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
</div>